<style type="text/css">
	#datepicker{
		font-size: 15px;
		width: 150px;
	}
	#hourpicker{
		font-size: 15px;
		width: 150px;
	}
</style>

<div class="jumbotron">
	<p class="cabecalho-formulario">Registro Complementar de Ponto</p>
	<p class="info-formulario">Preencha todos os campos abaixo e clique em gerar, para obter o documento devidamente preenchido.</p>
	<form name="canalForm">

		<h5 align="left">Diretor responsável </h5>

		<select class="form-control" ng-model="formulario.resp" ng-options="responsavel.SIGLA +' - '+ (responsavel.NOME)  for responsavel in responsaveis | orderBy: 'SIGLA'">
			<option value="">Selecione um responsável</option>
		</select>

		<h5 align="left">Colaborador </h5>

		<select class="form-control" ng-model="formulario.colab" ng-options="colaborador.SIGLA +' - '+ (colaborador.NOME) for colaborador in colaboradores | orderBy: 'NOME'">
			<option value="">Selecione o colaborador</option>
		</select>

		<h5 align="left">Tipo de ocorrência </h5>
		<select class="form-control" ng-model="formulario.ocorr" ng-options="ocorrencia.DESCRICAO for ocorrencia in ocorrencias | orderBy: 'DESCRICAO'">
			<option value="">Selecione um tipo de ocorrência</option>
		</select>

		<div ng-if="exibeOutrosOcorrencia(formulario)">
			<h5 align="left">Descrição da ocorrêcia "Outros" </h5>
			<input class="form-control" type="text" ng-model="formulario.outrosOcorrencia" name ="tagOutrosOcorrencia" placeholder="Informe o tipo de ocorrência. (Máximo 50 caracteres)" ng-required="true"   ui-maxtam ng-trim="false"/>
		</div>
		
		<h5 align="left">Tipo de justificativa </h5>
		<select class="form-control" ng-model="formulario.just" ng-options="justificativa.DESCRICAO for justificativa in justificativas | orderBy: 'DESCRICAO'">
			<option value="">Selecione uma justificativa</option>
		</select>

		<!--input class="form-control" type="text" ng-model="canal.nome" name ="tagNome" placeholder="Nome do Canal" ng-required="true" ng-minlength="10"/-->

		<div  ng-if="exibeOutros(formulario)">
			<h5 align="left">Descrição da justificativa "Outros" </h5>
			<input class="form-control" type="text" ng-model="formulario.outros" name ="tagOutros" placeholder="Informe sua Justificativa. (Máximo 50 caracteres)" ng-required="true"  ui-maxtam ng-trim="false"/>
		</div>


		<h5 align="left">Data </h5>
		<input class="form-control" type="text" ng-model="horario.data" name ="tagData" placeholder="Apenas números" ui-date datepicker id="datepicker" />

		<h5 align="left">Hora </h5>
		<input class="form-control" type="text" ng-model="horario.hora" name ="tagTelefone" placeholder="Apenas números"  ng-ng-pattern="/^\d{2}:\d{2}$/" ui-hour id="hourpicker"/>


		

		
		
		
		
		<!--button class= "btn btn-primary btn-block" ng-click="addCanal(canal)" ng-disabled="!canal.nome || !canal.usuarios || !canal.categoria">Adicionar um canal</button-->

		<button class= "btn btn-primary btn-block" ng-click="addHorario(horario)">
			Adicionar horário</button>

		<div class="table-horas-form" ng-if="mostraTabela()">
			<table class="table">
				<thead>
					<tr >
						<th class="table-head">
							Remover
						</th>
						<th class="table-head">
							Data
						</th>
						<th class="table-head">
							Hora
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{selecionado: horario.selecionado, negrito: horario.selecionado}" ng-repeat="horario in horarios | orderBy: ['data','hora']" >
						<td class="table-head">
							<input type="checkbox" ng-model="horario.selecionado"/>
						</td>
						<td  class="table-head">
							{{horario.data | date:'dd/MM/yyyy'}}
						</td>
						<td  class="table-head">
							{{horario.hora}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button class= "btn btn-danger btn-block" ng-click="deletaHorario(horarios)" ng-if="isLinhaSelecionada(horarios)">
		Remover horários selecionados</button>
		<button class="btn btn-primary btn-block" ng-click="enviar(formulario)" ng-disabled="!checkHoras(formulario)">Gerar</button>
	</form>
</div>
<div ng-include="'view/footer.html'" scope="" onload=""></div>