<div class="jumbotron">
	<p class="cabecalho-formulario">Registro Complementar de Ponto</p>
	<p class="info-formulario">Preencha todos os campos abaixo e clique em gerar, para obter o documento devidamente preenchido.</p>
	<form  name="canalForm">
		<select class="form-control" ng-model="formulario.resp" ng-options="responsavel.SIGLA +' - '+ (responsavel.NOME)  for responsavel in responsaveis | orderBy: 'SIGLA'">
			<option value="">Selecione um responsável</option>
		</select>

		<select class="form-control" ng-model="formulario.colab" ng-options="colaborador.SIGLA +' - '+ (colaborador.NOME) for colaborador in colaboradores | orderBy: 'NOME'">
			<option value="">Selecione o colaborador</option>
		</select>

		<select class="form-control" ng-model="formulario.ocorr" ng-options="ocorrencia.DESCRICAO for ocorrencia in ocorrencias | orderBy: 'DESCRICAO'">
			<option value="">Selecione um tipo de ocorrência</option>
		</select>

		<select class="form-control" ng-model="formulario.just" ng-options="justificativa.DESCRICAO for justificativa in justificativas | orderBy: 'DESCRICAO'">
			<option value="">Selecione uma justificativa</option>
		</select>

		<!--input class="form-control" type="text" ng-model="canal.nome" name ="tagNome" placeholder="Nome do Canal" ng-required="true" ng-minlength="10"/-->
		<input class="form-control" type="text" ng-model="formulario.outros" name ="tagOutros" placeholder="Informe sua justificativa. (Máximo 50 caracteres)" ng-required="true"  ng-if="exibeOutros(formulario)" ui-maxtam ng-trim="false"/>
		<input class="form-control" type="text" ng-model="horario.data" name ="tagData" placeholder="Data (Apenas números)" ui-date />
		<input class="form-control" type="text" ng-model="horario.hora" name ="tagTelefone" placeholder="Hora (Apenas números)"  ng-ng-pattern="/^\d{2}:\d{2}$/" ui-hour/>
		
		<!--button class= "btn btn-primary btn-block" ng-click="addCanal(canal)" ng-disabled="!canal.nome || !canal.usuarios || !canal.categoria">Adicionar um canal</button-->

		<button class= "btn btn-primary btn-block" ng-click="addHorario(horario)">
			Adicionar horário</button>

		<div class="table-horas-form" ng-if="mostraTabela()">
			<table class="table">
				<thead>
					<tr >
						<th class="table-head">
							Remover
						</th>
						<th class="table-head">
							Data
						</th>
						<th class="table-head">
							Hora
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{selecionado: horario.selecionado, negrito: horario.selecionado}" ng-repeat="horario in horarios" >
						<td class="table-head">
							<input type="checkbox" ng-model="horario.selecionado"/>
						</td>
						<td  class="table-head">
							{{horario.data | date:'dd/MM/yyyy'}}
						</td>
						<td  class="table-head">
							{{horario.hora}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button class= "btn btn-danger btn-block" ng-click="deletaHorario(horarios)" ng-if="isLinhaSelecionada(horarios)">
		Remover horários selecionados</button>
		<button class="btn btn-primary btn-block" ng-click="enviar(formulario)" ng-disabled="!checkHoras(formulario)">Gerar</button>
	</form>
</div>
<div ng-include="'view/footer.html'" scope="" onload=""></div>